Repository Azure/AKS-Construction, pull requests merged in 2021-11, with the labels that each got.

#101 Simplifying the Standard CI Pipeline
  .github/workflows/StandardCI.yml
  CONTRIBUTING.md
  GhActions.md
  README.md
Labels: documentation

#106 Pinning GitHub Action Workflows to use a specific Az CLI version
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/StandardCI.yml
Labels: bug

#104 Setting length limit on the cluster name
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ghpages.yml
  .gitignore
  CONTRIBUTING.md
  cspell.json
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: documentation, helper-ui

#94 Automation of IaC smoke test apps to show end to end TLS
  .github/workflows/ByoVnetCI.yml
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
  cspell.json
Labels: enhancement

#110 Stopping bicep build in main branch post merge
  .github/workflows/bicepBuild.yml
  bicep/compiled/main.json
Labels: bug

#115 Adding Private endpoints & features to enable app deployment to private clusters
  .github/workflows/bicepBuild.yml
  .github/workflows/ghpages.yml
  .github/workflows_dep/AksDeploy-simplest-nosecure.parameters.json
  bicep/compiled/main.json
  bicep/dnsZone.bicep
  bicep/firewall.bicep
  bicep/main.bicep
  bicep/network.bicep
  helper/.playwrighttests/helper-fragile-test-fullsecure.spec.js
  helper/automate/deploy-secure.sh
  helper/package.json
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
  samples/networkforbyo.bicep
Labels: helper-ui

#118 Adding Action Workflow to perform param file regression tests
  .github/workflows/regressionparams.yml
  .github/workflows_dep/regressionparams/justresourcename.json
  .github/workflows_dep/regressionparams/managed-private-privatelink.json
  .github/workflows_dep/regressionparams/managed-private.json
  .github/workflows_dep/regressionparams/open-secure.json
  .github/workflows_dep/regressionparams/simple-simple.json
Labels: enhancement

#126 updated stale action to work as intended.
  .github/workflows/stale.yml
Labels: bug

#127 Allow Helper URL parameters to set the defaults
  helper/package.json
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
Labels: enhancement, helper-ui

#121 Implementing GitHub reusable workflows
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows/ghpages.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  cspell.json
  helper/.playwrighttests/helper-test-default-networkpolicy.spec.js
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
Labels: documentation, helper-ui, ci-cd sample

#128 Updating actions@stale to v4 to use newer inputs.
  .github/workflows/stale.yml
Labels: enhancement

#136 Acr Private Pool moved to preview
  helper/src/components/addonsTab.js
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
Labels: helper-ui

#139 A better demonstration sample app main.bicep
  samples/SampleAppMain.bicep
  samples/shortLocationNames.json
Labels: enhancement
