Repository Azure/AKS-Construction, pull requests merged in 2021-12, with the labels that each got.

#141 Cert-manager version bump & asymmetric routing warning
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: enhancement, helper-ui

#142 A few small bicep param improvements
  .github/workflows_dep/regressionparams/key-vault.json
  CONTRIBUTING.md
  bicep/compiled/main.json
  bicep/main.bicep
  helper/src/components/deployTab.js
  samples/README.md
  samples/SystemPresetExample.bicep
Labels: documentation, enhancement, helper-ui

#144 Adding Content Trust
  .github/workflows_dep/regressionparams/optimised-for-well-architected.json
  bicep/compiled/main.json
  bicep/main.bicep
Labels: enhancement

#146 Deployment Copy button on helper
  helper/.playwrighttests/helper-test-main-presets.spec.js
  helper/src/components/appsTab.js
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/index.css
Labels: helper-ui

#148 Fixes, keyvault ip range output param, and others
  helper/src/components/deployTab.js
Labels: helper-ui

#150 Handle trailing clear space
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/StandardCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows/bicepBuild.yml
  .github/workflows/ghpages.yml
  .github/workflows/markdownchecks.yml
  .github/workflows/regressionparams.yml
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
  .vscode/settings.json
  CONTRIBUTING.md
  SUPPORT.md
  bicep/aksnetcontrib.bicep
  bicep/appgw.bicep
  bicep/network.bicep
  helper/.playwrighttests/helper-bastion-checkbox-clicommand.spec.js
  helper/.playwrighttests/helper-fragile-test-agic-options-available.spec.js
  helper/.playwrighttests/helper-fragile-test-fullsecure.spec.js
  helper/.playwrighttests/helper-test-base.spec.js
  helper/.playwrighttests/helper-test-default-networkpolicy.spec.js
  helper/.playwrighttests/helper-test-ingress.spec.js
  helper/.playwrighttests/helper-test-main-presets.spec.js
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  ps-rule.yaml
  samples/SampleAppMain.bicep
Labels: documentation, helper-ui

#149 Addressing Well Architected Framework gaps
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/StandardCI.yml
  .github/workflows/ghpages.yml
  .github/workflows/regressionparams.yml
  .github/workflows_dep/AksDeploy-Basic.parameters.json
  .github/workflows_dep/AksDeploy-ByoVnetPrivate.parameters.json
  .github/workflows_dep/regressionparams/managed-private.json
  .github/workflows_dep/regressionparams/optimised-for-well-architected.json
  .gitignore
  CONTRIBUTING.md
  bicep/compiled/main.json
  bicep/main.bicep
  bicep/network.bicep
  cspell.json
  helper/.playwrighttests/helper-export-az-commands.spec.js
  helper/.playwrighttests/helper-test-bastion-checkbox-clicommand.spec.js
  helper/.playwrighttests/helper-test-disablelocalaccounts-checkbox-clicommand.spec.js
  helper/src/components/addonsTab.js
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/config.json
  ps-rule.yaml
Labels: documentation, enhancement, helper-ui, well-architected, regression

#151 Version Consistency - AKS revert to portal default version
  .github/workflows/ghpages.yml
  bicep/compiled/main.json
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/portalnav.js
Labels: helper-ui, helper-bicep-link

#164 Key Vault IP AllowList
  .github/workflows/ghpages.yml
  .github/workflows_dep/regressionparams/key-vault.json
  bicep/compiled/main.json
  bicep/main.bicep
  helper/.playwrighttests/helper-export-az-commands.spec.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: helper-ui

#166 tidy post deploy & import externaldns container
  helper/config/external-dns.yml
  helper/src/components/deployTab.js
Labels: helper-ui

#171 BicepBuild workflow - Powershell bug
  .github/workflows/bicepBuild.yml
Labels: bug

#173 added param decorators
  bicep/compiled/main.json
  bicep/main.bicep
Labels: documentation, enhancement
