Repository Azure/AKS-Construction, pull requests merged in 2022-12, with the labels that each got.

#480 Fix bug in network deployment.
  bicep/network.bicep
Labels: bug

#483 Release CI/CD - Helper Testing
  .github/workflows/release.yml
Labels: ci-cd sample :robot:

#488 Validate helper node pool name- fixes issue 485
  helper/src/components/portalnav.js
Labels: helper-ui
