Repository Azure/AKS-Construction, pull requests merged in 2022-01, with the labels that each got.

#174 Changing default K8S version
  bicep/main.bicep
  helper/src/config.json
Labels: helper-ui

#167 Azure Firewall Policy Refactor
  .github/workflows_dep/AksDeploy-Basic.parameters.json
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
  .github/workflows_dep/AksDeploy-ByoVnetPrivate.parameters.json
  .github/workflows_dep/regressionparams/classic-custom-vnet-plus-firewall.json
  bicep/compiled/AddToTemplateSpec.ps1
  bicep/compiled/main.json
  bicep/firewall.bicep
  bicep/network.bicep
Labels: enhancement

#179 Add Default Deny Network Policy
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows_dep/AksDeploy-ByoVnetPrivate.parameters.json
  .github/workflows_dep/AksDeploy-Private.parameters.json
  .github/workflows_dep/playwrighttests/azurevote-catswin.spec.js
  .gitignore
  README.md
  bicep/compiled/main.json
  bicep/main.bicep
  bicep/network.bicep
  bicep/nsgAppGw.bicep
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
  k8smanifests/networkpolicy-deny-all.yml
Labels: documentation, enhancement, helper-ui, ci-cd sample

#182 Preventing forks from initiating workflows that use secrets
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/StandardCI.yml
  CONTRIBUTING.md
Labels: bug, documentation

#186 fix app gateway identity
  helper/src/components/deployTab.js
Labels: helper-ui

#187 Java sample App refactor
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/PostDeploy.yml
  .github/workflows/Test_ReusableWorkflows.yml
  helper/src/components/deployTab.js
  postdeploy/helm/Az-CertManagerIssuer-0.3.0.tgz
  postdeploy/helm/certmanagerissuer/Chart.yaml
  postdeploy/helm/certmanagerissuer/templates/clusterissuer-prod.yaml
  postdeploy/helm/certmanagerissuer/templates/clusterissuer-staging.yaml
  postdeploy/helm/certmanagerissuer/templates/networkpolicy.yaml
  postdeploy/helm/certmanagerissuer/values.yaml
  postdeploy/helm/externaldns-0.2.0.tgz
  postdeploy/helm/externaldns/Chart.yaml
  postdeploy/helm/externaldns/templates/_helpers.tpl
  postdeploy/helm/externaldns/templates/clusterrole.yaml
  postdeploy/helm/externaldns/templates/clusterrolebinding.yaml
  postdeploy/helm/externaldns/templates/deployment.yaml
  postdeploy/helm/externaldns/templates/networkpolicy.yaml
  postdeploy/helm/externaldns/templates/serviceaccount.yaml
  postdeploy/helm/externaldns/values.yaml
  postdeploy/k8smanifests/networkpolicy-deny-all.yml
  postdeploy/scripts/certmanager-install.sh
  postdeploy/scripts/externaldns-config-install.sh
Labels: enhancement, helper-ui, ci-cd sample

#188 Bumping preview repo tag references to proper tag ref
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows/ghpages.yml
  helper/src/components/deployTab.js
Labels: bug, helper-ui

#172 Microsoft Defender for Containers
  .github/workflows/ByoVnetCI.yml
  .github/workflows_dep/regressionparams/defender.json
  bicep/compiled/main.json
  bicep/main.bicep
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/config.json
Labels: enhancement, helper-ui, azure-preview-feature, feature-flagged
