Repository Azure/AKS-Construction, pull requests merged in 2022-05, with the labels that each got.

#234 Adding NSG's for custom vnet
  .github/workflows/AksTroubleshooting.yml
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
  .github/workflows_dep/AksDeploy-Private.parameters.json
  .github/workflows_dep/regressionparams/edgeK8sVersion.json
  .github/workflows_dep/regressionparams/managed-public.json
  .github/workflows_dep/regressionparams/optimised-for-well-architected.json
  .gitignore
  bicep/aksnetcontrib.bicep
  bicep/bicepconfig.json
  bicep/main.bicep
  bicep/network.bicep
  bicep/networkwatcherflowlog.bicep
  bicep/nsg.bicep
  bicep/nsgAppGw.bicep
  cspell.json
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/config.json
  samples/SampleAppMain.bicep
  samples/peered-vnet/main.bicep
Labels: enhancement, helper-ui :mage_woman:, ci-cd sample :robot:, helper-ui

#264 Updating App Gateway Subnet Range to /24
  bicep/main.bicep
  helper/src/config.json
Labels: secure-baseline, well-architected, test-deploy-privateconfig

#267 Adding flexible preset structure to the Wizard Web App
  cspell.json
  helper/.playwrighttests/helper-export-az-commands.spec.js
  helper/.playwrighttests/helper-test-disablelocalaccounts-checkbox-clicommand.spec.js
  helper/.playwrighttests/helper-test-ingress.spec.js
  helper/package-lock.json
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/config.json
  helper/src/configpresets/baselines.json
  helper/src/configpresets/entScale.json
  helper/src/configpresets/principals.json
  helper/src/index.css
  helper/src/index.js
Labels: helper-ui :mage_woman:, helper-ui

#272 Wrapped in Terraform - preview
  bicep/main.bicep
  cspell.json
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: helper-ui

#273 Compile/add additional files into release
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows/release.yml
  bicep/network.bicep
  helper/src/components/deployTab.js
  samples/peered-vnet/main.bicep
  samples/shared-acr/acr-rbac.bicep
Labels: enhancement, ci-cd sample :robot:, helper-ui

#279 Wrapped in Terraform - preview [2]
  helper/src/components/deployTab.js
Labels: helper-ui

#282 Added Windows sample
  bicep/aksagentpool.bicep
  samples/windows/README.md
  samples/windows/main.bicep
Labels: enhancement

#284 Wrapped in Terraform - preview [3]
  helper/src/components/deployTab.js
Labels: enhancement, feature-flagged, helper-ui

#285 Aria-disabled accessibility issue
  helper/src/components/deployTab.js
Labels: helper-ui

#298 AZ CLI version - output issue at 2.37.0
  helper/src/components/deployTab.js
Labels: bug, helper-ui
