Repository Azure/AKS-Construction, pull requests merged in 2022-09, with the labels that each got.

#356 Default Kubernetes Version - 1.23.8
  bicep/main.bicep
  helper/src/config.json
  samples/SampleAppMain.bicep
Labels: helper-ui

#358 Increasing default subnet size for pods
  bicep/main.bicep
  helper/src/config.json
Labels: bug, helper-ui

#360 Refactor AksProperties object in bicep
  bicep/main.bicep
Labels: test-deploy-privateconfig, test-deploy-byoconfig

#355 Restyle/reformat of the README and UI
  README.md
  cspell.json
  docs/images/helper-deploy.jpg
  docs/images/helper-presets.jpg
  docs/images/helper-tabs.jpg
  helper/public/index.html
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/configpresets/principals.json
  referencearchs.md
Labels: documentation, helper-ui

#363 Workload Identity (feature flagged)
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: feature-flagged, helper-ui

#366 Broken Link fix and Automated Workflow Broken Link Checker
  .github/workflows/brokenlinks.yml
  .github/workflows/ghpagesTest.yml
  .gitignore
  helper/.playwrighttests/helper-export-html-site.spec.js
  helper/src/components/deployTab.js
Labels: ci-cd sample :robot:, helper-ui

#370 Helper animated gif for the readme
  README.md
  docs/images/animgif.gif
  helper/src/configpresets/principals.json
Labels: documentation, helper-ui

#380 Nginx Ingress Profile
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: azure-preview-feature, helper-ui, test-deploy-byoconfig

#394 Adding "Mature Steps" back into the repo docs
  README.md
  docs/AdvancedUsage.md
Labels: documentation

#396 Add support for CSI Blob drivers
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement

#401 Fixing Labeler CI/CD workflow to work with forks
  .github/workflows/label.yml
Labels: ci-cd sample :robot:, poor-value-for-effort

#404 General Repo Doc improvements
  .github/workflows/release.yml
  README.md
  docs/AdvancedUsage.md
  docs/ContributingHelper.md
  docs/ReleasingHelper.md
Labels: documentation

#412 Provide warning if B2 configuration with burstable disk is selected
  helper/src/components/clusterTab.js
Labels: helper-ui :mage_woman:

#351 Adding support for ETCD encryption with KMS
  .github/workflows/regressionparams.yml
  .github/workflows_dep/regressionparams/byoKms.json
  .github/workflows_dep/regressionparams/byoKmsPrivateLink.json
  .github/workflows_dep/regressionparams/publicKms.json
  README.md
  bicep/bicepconfig.json
  bicep/keyvaultkey.bicep
  bicep/keyvaultrbac.bicep
  bicep/main.bicep
  cspell.json
  docs/AdvancedUsage.md
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
Labels: documentation, enhancement, helper-ui

#419 Helper UI indentation not consistent
  helper/src/components/clusterTab.js
Labels: helper-ui

#417 CICD refactor + maintainer instructions
  .github/workflows/ByoVnetCI.yml
  .github/workflows/StandardCI.yml
  .github/workflows/greetings.yml
  .github/workflows/regressionparams.yml
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
  bicep/dnsZone.bicep
  docs/RepoCoreIacWorkflows.md
Labels: ci-cd sample :robot:
