Repository Azure/AKS-Construction, pull requests merged in 2022-02, with the labels that each got.

#194 Modularise ACR Agent Pools
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/ghpages.yml
  README.md
  bicep/acragentpool.bicep
  bicep/compiled/main.json
  bicep/main.bicep
Labels: documentation

#202 Uplifting UI to 0.4.5 release
  .github/workflows/bicepBuild.yml
  .github/workflows/ghpages.yml
  README.md
Labels: documentation

#207 Changing NSG default because of RP problem with idempotency.
  bicep/compiled/main.json
  bicep/main.bicep
Labels: bug

#211 Network security group fix
  .github/workflows/ghpages.yml
  bicep/compiled/main.json
  bicep/network.bicep
Labels: bug

#219 Private CICD and Bicep improvements
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/ghpages.yml
  bicep/bicepconfig.json
  bicep/compiled/main.json
  bicep/firewall.bicep
  bicep/main.bicep
  bicep/network.bicep
  bicep/nsgAppGw.bicep
  helper/.playwrighttests/helper-fragile-test-agic-options-available.spec.js
  helper/.playwrighttests/helper-fragile-test-fullsecure.spec.js
Labels: enhancement, test-deploy-privateconfig

#189 Helper Updates
  .github/workflows/ghpages.yml
  .github/workflows_dep/regressionparams/classic-custom-vnet-plus-firewall.json
  .github/workflows_dep/regressionparams/managed-private-privatelink.json
  .github/workflows_dep/regressionparams/managed-private.json
  .github/workflows_dep/regressionparams/open-secure.json
  .github/workflows_dep/regressionparams/simple-simple.json
  bicep/compiled/main.json
  bicep/main.bicep
  cspell.json
  helper/package-lock.json
  helper/package.json
  helper/public/index.html
  helper/public/manifest.json
  helper/src/App.test.js
  helper/src/components/addonsTab.js
  helper/src/components/appsTab.js
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/config.json
  helper/src/index.js
  helper/src/serviceWorker.js
  postdeploy/scripts/postdeploy.sh
Labels: helper-ui
