Repository Azure/AKS-Construction, pull requests merged in 2022-11, with the labels that each got.

#447 OSS Post Deployment CI/CD workflow
  .github/workflows/AKSC_Deploy.yml
  .github/workflows/OSSCI.yml
  .github/workflows/StandardCI.yml
  .vscode/settings.json
  bicep/aksnetcontrib.bicep
  bicep/main.bicep
  postdeploy/scripts/postdeploy.sh
Labels: enhancement, ci-cd sample :robot:

#444 Added logic to load locations and VM sku's from json files
  .github/workflows/release.yml
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
  helper/src/locations.json
  helper/src/skuFamilies.json
  helper/src/vmSKUs.json
  postdeploy/scripts/generate-vm-sku-list-v2.sh
Labels: helper-ui

#440 Added Traefik as an available ingress controller
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/OSSCI.yml
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/dependencies.json
  postdeploy/scripts/generate-vm-sku-list-v2.sh
  postdeploy/scripts/postdeploy.sh
Labels: enhancement, helper-ui

#457 Full CSI Driver control
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement, helper-ui

#428 ACR Features: Content Trust and Retention Policy
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
Labels: helper-ui

#459 Monitoring: Guidance and datacap
  .github/workflows/AppDeploy_AzureVote.yml
  bicep/aksmetricalerts.bicep
  bicep/aksnetcontrib.bicep
  bicep/appgw.bicep
  bicep/dnsZone.bicep
  bicep/keyvaultrbac.bicep
  bicep/main.bicep
  bicep/networksubnetrbac.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
  samples/shared-acr/acr-rbac.bicep
Labels: documentation, enhancement, helper-ui, test-deploy-byoconfig

#462 Node pool name customisation
  bicep/main.bicep
  cspell.json
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement, helper-ui

#464 Option to assign node public IP to user node pool
  bicep/main.bicep
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/config.json
Labels: helper-ui

#465 Nodepool name - limit to 12 characters
  bicep/main.bicep
  helper/src/components/clusterTab.js
Labels: bug, helper-ui :mage_woman:, helper-ui

#466 Workflow bugfix: Shell script access permissions
  postdeploy/scripts/generate-vm-sku-list-v2.sh
Labels: bug, ci-cd sample :robot:

#471 Fix Helper - Tab values when changing the preset
  helper/src/components/portalnav.js
Labels: helper-ui

#473 Upgrade helper to react18
  cspell.json
  helper/package-lock.json
  helper/package.json
  helper/public/index.html
  helper/src/index.js
  helper/src/reportWebVitals.js
Labels: helper-ui

#474 Fix to Bookmarks
  helper/src/components/portalnav.js
Labels: helper-ui

#446 Gaming Workload Scenarios #1 - Minecraft
  .github/workflows/release.yml
  helper/public/Minecraft.png
  helper/public/MinecraftNether.png
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/config.json
  helper/src/configpresets/baselines.json
  helper/src/configpresets/entScale.json
  helper/src/configpresets/gaming.json
  helper/src/configpresets/principals.json
  helper/src/index.js
  postdeploy/scripts/generate-vm-sku-list-v2.sh
Labels: enhancement, helper-ui

#478 Helper: Adding homepage back to package.json
  helper/package.json
Labels: bug, helper-ui
