Repository Azure/AKS-Construction, pull requests merged in 2022-07, with the labels that each got.

#283 A Seamless Post Deploy UI experience and reusable workflow for app repos
  .github/workflows/AKSC_Deploy.yml
  .github/workflows/StandardCI.yml
  .github/workflows/release.yml
  bicep/main.bicep
  cspell.json
  helper/.playwrighttests/helper-test-scale-cluster-nodes-to-zero.spec.js
  helper/automate/deploy-secure.sh
  helper/config/external-dns.yml
  helper/package-lock.json
  helper/package.json
  helper/src/components/clusterTab.js
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/components/presets.js
  helper/src/config.json
  helper/src/configpresets/principals.json
  helper/src/dependencies.json
  helper/src/index.css
  helper/src/index.js
  postdeploy/scripts/postdeploy.sh
  postdeploy/scripts/test.sh
Labels: helper-ui, Keep Open

#311 Configurable Private Cluster Dns/Fqdn
  .github/workflows/ByoVnetCI.yml
  bicep/aksnetcontrib.bicep
  bicep/dnsZone.bicep
  bicep/dnsZoneRbac.bicep
  bicep/main.bicep
  cspell.json
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
Labels: enhancement, test-deploy-privateconfig, helper-ui, test-deploy-byoconfig

#324 CI/CD - Standard cluster cleanup fails
  .github/workflows/StandardCI.yml
Labels: bug, ci-cd sample :robot:

#329 Fixing some typos in the UI
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: helper-ui

#330 Regression fix : userAssignedIdentities check
  bicep/main.bicep
Labels: bug

#323 Documenting the web app release/rollback
  docs/ReleasingWizard.md
Labels: documentation, helper-ui :mage_woman:

#341 Extra Deploy Helper release testing
  .github/workflows/ghpages.yml
  .github/workflows/ghpagesTest.yml
  .github/workflows/release.yml
Labels: ci-cd sample :robot:
