Repository Azure/AKS-Construction, pull requests merged in 2022-08, with the labels that each got.

#337 Defender RP update
  bicep/main.bicep
  helper/src/components/clusterTab.js
Labels: helper-ui

#347 Addressing Bicep warnings from 0.9.1
  bicep/aksmetricalerts.bicep
  bicep/keyvaultrbac.bicep
  bicep/main.bicep
  bicep/network.bicep
  bicep/networksubnetrbac.bicep
  samples/shared-acr/acr-rbac.bicep
Labels: enhancement, test-deploy-byoconfig

#350 Add support for enabling the Dapr extension
  .github/workflows_dep/regressionparams/dapr.json
  bicep/main.bicep
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement

#354 NSG flow logs - Better handling of hypens
  bicep/network.bicep
Labels: bug
