Repository Azure/AKS-Construction, pull requests merged in 2022-03, with the labels that each got.

#226 Fix App Gateway addon with default networking
  bicep/compiled/main.json
  bicep/main.bicep
  helper/src/components/deployTab.js
Labels: helper-ui

#227 Adding a peered-vnet, multi cluster sample
  bicep/aksagentpool.bicep
  bicep/compiled/main.json
  bicep/main.bicep
  bicep/network.bicep
  samples/README.md
  samples/networkforbyo.bicep
  samples/peered-vnet/README.md
  samples/peered-vnet/extrasubnet.bicep
  samples/peered-vnet/main.bicep
  samples/peered-vnet/vnetpeer.bicep
Labels: enhancement

#230 Sample: Showing how to use an existing ACR in a different RG
  samples/README.md
  samples/shared-acr/README.md
  samples/shared-acr/acr-rbac.bicep
  samples/shared-acr/main.bicep
Labels: enhancement

#232 Release Web App Automation
  .github/workflows/ghpages-release.yml
Labels: enhancement, ci-cd sample

#229 UI: User pool scale value changes
  .github/workflows_dep/regressionparams/scale-userpool-from-zero.json
  cspell.json
  helper/.playwrighttests/helper-test-scale-cluster-nodes-to-zero.spec.js
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
Labels: enhancement, helper-ui
