Repository Azure/AKS-Construction, pull requests merged in 2022-06, with the labels that each got.

#292 Support CSI feature - Secret Rotation
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement, helper-ui

#301 Fix error when passing empty deploy.apiips on URL
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: bug, helper-ui

#296 Web app contribution guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  cspell.json
  docs/ContributingWizard.md
  docs/GhActions.md
  docs/images/AKSBicepComponents.png
  docs/images/ghactionworkflow.jpg
  docs/images/helper_preview.png
  docs/images/helper_preview_es.png
  docs/images/wiz-bicep-config.png
  docs/images/wiz-fluentui.png
  docs/images/wiz-overlay-config.png
  docs/images/wiz-provisionenv.png
  helper/.playwrighttests/helper-test-bastion-checkbox-clicommand.spec.js
  helper/.playwrighttests/helper-test-default-networkpolicy.spec.js
  referencearchs.md
Labels: documentation

#299 Terraform - Visible by default
  helper/src/components/deployTab.js
  samples/terraform/README.md
Labels: enhancement, helper-ui

#308 Private CI/CD workflow improvements
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows_dep/AksDeploy-Private.parameters.json
Labels: ci-cd sample :robot:
