Repository Azure/AKS-Construction, pull requests merged in 2023-11, with the labels that each got.

#661 Set default osDiskSizeGB based on OS Type
  bicep/aksagentpool.bicep
  bicep/main.bicep
  helper/src/config.json
Labels: helper-ui, needs-discussion

#659 Azure Linux osSKU support in AKSC
  bicep/aksagentpool.bicep
  bicep/main.bicep
  helper/src/components/clusterTab.js
Labels: helper-ui

#672 Added error message when App GW and CNI Overlay are selected
  helper/src/components/addonsTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
Labels: helper-ui

#633 PodCIDR patch for Overlay.
  bicep/main.bicep
  helper/src/components/deployTab.js
Labels: helper-ui, Keep Open
