Repository Azure/AKS-Construction, pull requests merged in 2023-10, with the labels that each got.

#660 Fixing inline code snippets so that they show up in dark theme
  helper/src/index.css
Labels: helper-ui

#652 Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Keep Open

#668 Updating Web App dependencies
  helper/package-lock.json
Labels: helper-ui

#651 Updated bicep api versions
  bicep/aksmetricalerts.bicep
  bicep/aksnetcontrib.bicep
  bicep/appgw.bicep
  bicep/automationrunbook/aksRbac.bicep
  bicep/firewall.bicep
  bicep/main.bicep
  bicep/network.bicep
  bicep/networkwatcherflowlog.bicep
  bicep/nsg.bicep
Labels: test-deploy-byoconfig

#647 Bicep linter warnings for Bicep 0.20.4
  bicep/acragentpool.bicep
  bicep/aksagentpool.bicep
  bicep/bicepconfig.json
  bicep/main.bicep
  bicep/network.bicep
Labels: stale, test-deploy-privateconfig, test-deploy-byoconfig

#611 Spot Instances for user pools
  bicep/aksagentpool.bicep
  bicep/main.bicep
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: Keep Open
