Repository Azure/AKS-Construction, pull requests merged in 2023-01, with the labels that each got.

#489 Managed cilium dataplane
  .github/workflows_dep/regressionparams/cilium-cni-overlay.json
  bicep/main.bicep
  cspell.json
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
Labels: enhancement, azure-preview-feature, helper-ui

#495 Adding Canadian locations to helper
  helper/src/locations.json
Labels: enhancement, helper-ui :mage_woman:, helper-ui

#492 ContainerLogsV2 and Basic Logs support
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
  postdeploy/scripts/certmanager-install.sh
  postdeploy/scripts/postdeploy.sh
Labels: enhancement, azure-preview-feature, helper-ui

#496 Custom networking subnet validation
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
Labels: enhancement, helper-ui

#497 Improve hyperlink accessibility in dark mode #269
  helper/src/index.css
Labels: helper-ui :mage_woman:

#477 Added Cost Estimate Workflow job
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/OSSCI.yml
  .github/workflows_dep/AksDeploy-ByoVnet.parameters.json
Labels: enhancement, ci-cd sample :robot:

#503 AzureFw + Kubenet Route RBAC
  bicep/main.bicep
  bicep/network.bicep
Labels: bug

#498 GitHub workflow housekeeping
  .github/workflows/AksTroubleshooting.yml
  .github/workflows/AppDeploy_AzureVote.yml
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/Lighthouse.yml
  .github/workflows/OSSCI.yml
  .github/workflows/PostDeploy.yml
  .github/workflows/StandardCI.yml
  .github/workflows/Test_ReusableWorkflows.yml
  .github/workflows/bicepBuild.yml
  .github/workflows/brokenlinks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ghpages.yml
  .github/workflows/ghpagesTest.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/markdownchecks.yml
  .github/workflows/regressionparams.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  cspell.json
  helper/.playwrighttests/helper-export-az-commands.spec.js
  helper/src/components/deployTab.js
Labels: test-deploy-privateconfig, test-deploy-wizard, helper-ui, test-deploy-byoconfig

#507 Windows nodepool support
  .github/workflows_dep/regressionparams/windows2019.json
  bicep/aksagentpool.bicep
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/clusterTab.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  helper/src/config.json
  samples/windows/README.md
  samples/windows/main.bicep
  samples/windows/winNodePools.png
  samples/windows/winResourcesDeployed.png
Labels: helper-ui, test-deploy-byoconfig

#512 Peered vnet sample - OS update
  samples/peered-vnet/main.bicep
Labels: bug

#514 Workflow refinements
  .github/workflows/ByoVnetCI.yml
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/StandardCI.yml
Labels: ci-cd sample :robot:
