Repository Azure/AKS-Construction, pull requests merged in 2023-03, with the labels that each got.

#539 Enhance the non-PII telemetry capture to improve the user experience
  helper/src/components/common.js
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
Labels: helper-ui

#470 Bicep refactor
  .gitignore
  bicep/acragentpool.bicep
  bicep/aksagentpool.bicep
  bicep/aksnetcontrib.bicep
  bicep/appgw.bicep
  bicep/bicepconfig.json
  bicep/dnsZone.bicep
  bicep/dnsZoneRbac.bicep
  bicep/firewall.bicep
  bicep/keyvault.bicep
  bicep/keyvaultkey.bicep
  bicep/keyvaultrbac.bicep
  bicep/main.bicep
  bicep/network.bicep
  bicep/networkwatcherflowlog.bicep
  bicep/nsg.bicep
Labels: enhancement, Keep Open

#549 Managed resource group - configuration
  bicep/main.bicep
Labels: enhancement

#553 Helper UI for Node Resource Group
  bicep/main.bicep
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: helper-bicep-link :mage_man:, helper-ui

#557 Terraform bumps and bugfix
  helper/src/components/deployTab.js
Labels: helper-ui :mage_woman:, helper-ui

#550 UserDefinedRouting Egress
  bicep/main.bicep
  bicep/network.bicep
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
Labels: enhancement

#563 Updated outputs for Private FQDN & Private DNS Zone
  bicep/main.bicep
Labels: test-deploy-privateconfig, test-deploy-byoconfig

#566 Fixing CI deployments
  .github/workflows/AKSC_Deploy.yml
  .github/workflows/AksTroubleshooting.yml
  .github/workflows/AppDeploy_JavaApp.yml
  .github/workflows/ByoVnetCI.yml
  .github/workflows/PostDeploy.yml
  .github/workflows/StandardCI.yml
  bicep/firewall.bicep
Labels: test-deploy-privateconfig, test-deploy-byoconfig

#561 Cleanup Old Role Assignments in CI resource group
  .github/workflows/ByoVnetPrivateCI.yml
  .github/workflows/cleanupRg.yml
Labels: ci-cd sample :robot:, test-deploy-privateconfig, test-deploy-byoconfig

#567 Enable syslog collection for AKS - Azure Container Insights
  bicep/main.bicep
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: helper-ui
