Repository Azure/AKS-Construction, pull requests merged in 2023-06, with the labels that each got.

#590 Istio service mesh
  .github/workflows_dep/regressionparams/istioServiceMesh.json
  bicep/main.bicep
  cspell.json
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/config.json
Labels: enhancement, azure-preview-feature, helper-ui

#594 Workload type principal preset (prod and non-prod)
  bicep/automationrunbook/aksRbac.bicep
  bicep/automationrunbook/automation.bicep
  bicep/automationrunbook/bicepconfig.json
  bicep/main.bicep
  helper/.playwrighttests/helper-test-managednatgw.spec.js
  helper/src/components/addonsTab.js
  helper/src/components/deployTab.js
  helper/src/components/presets.js
  helper/src/components/previewDialog.js
  helper/src/config.json
  helper/src/configpresets/principals.json
Labels: helper-ui

#528 Adding PowerShell Deployment Option to the Helper
  .github/workflows/release.yml
  helper/src/components/deployTab.js
  helper/src/components/portalnav.js
  postdeploy/scripts/postdeploy.ps1
  postdeploy/scripts/postdeploy.sh
Labels: enhancement, test-deploy-privateconfig, helper-ui, Keep Open

#599 Nat Gateway simplification
  .github/workflows/AKSC_Deploy.yml
  .github/workflows/StandardCI.yml
  .github/workflows_dep/AksDeploy-Basic.parameters.json
  .github/workflows_dep/AksDeploy-Private.parameters.json
  .github/workflows_dep/regressionparams/managedNatGw.json
  bicep/main.bicep
  bicep/network.bicep
  helper/.playwrighttests/helper-test-managednatgw.spec.js
  helper/src/components/deployTab.js
  helper/src/components/networkTab.js
  helper/src/components/portalnav.js
  helper/src/configpresets/principals.json
Labels: test-deploy-privateconfig, helper-ui

#601 bugfix for preview modal
  helper/src/components/addonsTab.js
  helper/src/components/portalnav.js
  helper/src/components/previewDialog.js
Labels: helper-ui
